# Database connection URL (defaults to SQLite dev.db file)
DATABASE_URL="file:./dev.db"

# Secret key used for signing JWT session tokens
JWT_SECRET="c52e395be87eee16fa80073800a6e70c1b8edd0bab0b671ca4397398332c4ee3"

# NextAuth Configuration
NEXTAUTH_URL="https://shubhavidyalaya.com"
NEXTAUTH_SECRET="9be36e76cf0e3b97b0a3249dfd101fbb891e4f4fb6724fa7b5b5c9bb799ba21b"
